/* .zsg-icon-for-rent:before, .zsg-icon-for-sale:before, .zsg-icon-off-market:before, .zsg-icon-pre-market:before, .zsg-icon-recently-sold:before {
    background: #FF5A50;
    border-radius: 50%;
    content: "";
    height: 1em;
    width: 1em;
    display: inline-block;
  }
   */